// .section {
//   p {
//     margin-left: 3rem;
//     margin-bottom: 1rem;
//     font-size: 0.8rem;
//   }

// }
.section > h3 + p::before {
  content: "-";
  margin-right: 1rem;
  margin-left: -1.5rem;
  color: rgba(0, 121, 140, 0.7);
  font-size: 1.33rem;
  height: 66%;
}
.section + p {
  font-size: 0.9rem;
}
.section > h3 {
  font-size: 0.8rem;
}
.section > h3 + p {
  margin-left: 3rem;
}
.footSpacer {
  color: rgba(0, 121, 140, 0.7);
}
.section > h3::before {
  content: ">";
  color: rgba(170, 0, 0, 0.95);
  margin-right: 1rem;
}
.menuBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.33;
  animation: join 2s ease-in-out forwards;
  margin-top: 7rem;
  button {
    padding: 0.66rem 1rem;
    text-align: center;
  }
  button + section {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: center;
    transition: all 2s;
    margin-bottom: 1rem;
  }
  button[value="collapsed"] {
    padding: 0.5rem 0.66rem;
    border-radius: 0.33rem;
    animation: floatBack 1s ease-in-out forwards;
  }
  button[value="expanded"] {
    border-radius: 0.22rem;
    transition: all 2s;
    color: rgba(170, 0, 0, 0.7);
    animation: spreadFloat 1s ease-in-out forwards;
    font-size: 1.11rem;
  }
  button[value="expanded"] + section::before {
    content: "";
    border: 2px solid white;
    background-color: rgba(170, 0, 0, 0.95);
    height: 2px;
    width: 66%;
    margin-top: 1rem;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.2),
      0 10px 12px rgba(0, 0, 0, 0.2), 0 14px 16px rgba(0, 0, 0, 0.2),
      0 18px 32px rgba(0, 0, 0, 0.2), 0 32px 64px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  button[value="collapsed"] + section {
    transform: scale(0);
    height: 0rem;
    margin: 0;
  }
  button[value="expanded"] + section {
    transform: scale(100%);
    height: 30rem;
    justify-content: flex-start;
  }

  button[value="expanded"] + section::after {
    content: "";
    border: 2px solid white;
    background-color: rgba(170, 0, 0, 0.95);
    height: 2px;
    width: 33%;
    position: relative;
    top: 3rem;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.2),
      0 10px 12px rgba(0, 0, 0, 0.2), 0 14px 16px rgba(0, 0, 0, 0.2),
      0 18px 32px rgba(0, 0, 0, 0.2), 0 32px 64px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}

@keyframes spreadFloat {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes floatBack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes buttonRelaxer {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: scale(1.1);
    color: rgba(170, 0, 0, 1);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.2),
      0 10px 12px rgba(0, 0, 0, 0.2), 0 14px 16px rgba(0, 0, 0, 0.2),
      0 18px 32px rgba(0, 0, 0, 0.2), 0 32px 64px rgba(0, 0, 0, 0.2);
  }
}

// @keyframes retreat {
//   from {
//     line-height: 1;
//     height: 0vh;
//   }
//   to {
//     line-height: 0;
//     height: 30vh;
//   }
// }

@keyframes blink {
  0% {
    background-color: rgba(170, 0, 0, 0.95);
  }
  20% {
    background-color: black;
  }
  40% {
    background-color: rgba(170, 0, 0, 0.95);
  }
  60% {
    background-color: black;
  }
  80% {
    background-color: rgba(170, 0, 0, 0.95);
  }
  100% {
    background-color: black;
  }
}
