#footBox {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 48rem;
   height: 15rem;
   width: 100%;
   background-color: rgba(6, 6, 6, 0.93);
   color: white;
   
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15),
     0 10px 12px rgba(0, 0, 0, 0.15), 0 14px 16px rgba(0, 0, 0, 0.15),
     0 18px 32px rgba(0, 0, 0, 0.15), 0 32px 64px rgba(0, 0, 0, 0.15);
     .sinkFrame {
        width: 90%;
        height: 90%;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2),
        inset 0 8px 10px rgba(0, 0, 0, 0.5),
        inset 0 10px 12px rgba(0, 0, 0, 0.2),
        inset 0 14px 16px rgba(0, 0, 0, 0.5),
        inset 0 18px 32px rgba(0, 0, 0, 0.2),
        inset 0 32px 64px rgba(0, 0, 0, 0.4);
        overflow: auto;
        .scrollText {
           animation: scroll 7s infinite linear;
           z-index: -2;
           writing-mode: vertical-rl;
        }
     }
}

@keyframes scroll {
   0% {
      transform: translateY(-10rem);
   }
   100% {
      transform: translateY(100rem);
   }
}