@import "./styles/main.scss", "./styles/Header.scss", "./styles/Main/About.scss",
  "./styles/Main/Projects.scss", "./styles/Main/Experiments.scss", "./styles/Nav/AboutNav.scss",
  "./styles/Nav/ProjectsNav.scss", "./styles/Nav/ExpNav.scss", "./styles/Main/FootBar.scss";

@media screen and (max-width: 769px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  :root {
    font-size: 14px;
  }
  .navHeader {
    nav {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      .navLinkLocked {
         transform: translateX(-.66rem);
         padding: .33rem 0;
      }
    }
  }
}
@media screen and (max-width: 426px) {
  :root {
    font-size: 11px;
    line-height: 1.4;
  }
  #truthBox > button {
    color: white;
  }
}
