@import "./styles/main.scss", "./styles/Nav.scss",
  "./styles/Pages/About.scss", "./styles/Nav/AboutNav.scss",
  "./styles/Nav/ProjectsNav.scss", "./styles/Nav/ExpNav.scss",
  "./styles/components/Modal.scss", "./styles/components/Footer.scss";

@media screen and (max-width: 769px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  :root {
    font-size: 12px;
  }
  .navHeader {
    nav {
      .navLinkLocked {
        transform: translateX(-0.66rem);
        padding: 0.33rem 0;
      }
    }
  }
}
@media screen and (max-width: 426px) {
  :root {
    font-size: 9px;
    line-height: 1.4;
  }
  #truthBox > button {
    color: white;
  }
}
