.aboutTabLocked {
  color: rgba(0, 121, 140, 0.8);
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: tabFade 2s ease-in, lockTab 0.09s ease-in-out forwards;
}

.aboutTabUnlocked {
  // flex-basis: 25%;
  color: rgb(111, 111, 111);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-left: 0.16rem solid rgba(4, 4, 4, 0.7);
  border-right: 0.16rem solid rgba(4, 4, 4, 0.7);
  border-top: 0.22rem solid rgba(0, 121, 140, 0.8);
  border-bottom: 0.22rem solid rgba(0, 121, 140, 0.8);
  border-radius: 0.33rem;
  animation: tabFade 1.33s ease-out;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.2),
    0 10px 12px rgba(0, 0, 0, 0.2), 0 14px 16px rgba(0, 0, 0, 0.2);
}
.aboutTabUnlocked:hover {
  mix-blend-mode: hard-light !important;
}
