


.tabStateLocked {
   color: rgb(170,0,0);
   height: 15%;
   width: 99%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: .1rem solid rgb(243, 243, 243);
   animation: tabFade 2s ease-in, lockIn .3s ease-out forwards;
   transition: all .33s;
   padding-right: .55rem;
}

.tabStateUnlocked {
   color: rgb(111, 111, 111);
   height: 15%;
   width: 99%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: .33rem solid rgb(170, 0, 0);
   border-radius: 0 .88rem .88rem 0;
   animation: tabFade 2s ease-in;
}


@keyframes lockIn {
   0% {border-left: none};
   100% {border-left: none;
         border-right: .5rem solid rgba(35, 173, 173, .8);
         border-top: .2rem solid black;
         border-bottom: .2rem solid black;
         z-index: 2;
      transform: scale(.99)}
}
