@font-face {
   src: url('./assets/fonts/Epilogue[wght].woff2');
   font-family: 'Epilogue';
}

@font-face {
   src: url('./assets/fonts/Trispace[wdth,wght].woff2');
   font-family: 'Trispace';
}

$epilogue: 'Epilogue';
$trispace: 'Trispace';

header {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   height: 9rem;
   font-family: $trispace;
   margin: 3rem 0;
   h1 {
      display: flex;
      flex-flow: column wrap;
      flex: 1 0 50vw;
      text-align: right;
      height: 50%;
      font-weight: 300;
      line-height: 2rem;
      letter-spacing: .33rem;
      margin: 1rem 2rem;
      
      // *SYNTHETIC RAIN* //
      #synthetic {
         animation: fadeInSynthetic 2s ease-out;
      }
      #rain {
         animation: fadeInRain 2.1s ease-out;
      }
   }
   nav {
      flex: 1 0 30vw;
      font-weight: 100;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      line-height: 2.33rem;
      letter-spacing: .11rem;
      margin: 1rem 1rem 1rem 3rem;
      
      .navText {
         
      }
      .navLinkUnlocked {
         flex: 1 0 100%;
         text-decoration: none;
         color: rgba(0,0,0,0.66);
         font-size: .7rem;
         animation: fadeInLink 2s 1;
         transition: all 2s;
         .curly {
            color: rgb(170, 0, 0);
         }
         
      }
      .navLinkUnlocked:hover {
         transform: scale(1.33) translateX(-2rem);
         .curly {
            text-decoration: line-through;
            color: rgba(35, 173, 173, .95);
            pointer-events: none;
         }
         
      }
      .navLinkLocked {
         flex: 1 0 100%;
         transform: scale(1.28) translateX(-2rem);
         text-decoration: none;
         color: rgba(0,0,0,0.66);
         font-size: .7rem;
         transition: all 2s;
         pointer-events: none;
         .curly {
            color: rgba(35, 173, 173, .95);
            text-decoration: line-through;
         }
         .navText {
            pointer-events: none;
         }
      }
   }
}


@keyframes fadeInSynthetic {
   0% {opacity: 0;
   transform: translateY(1200px)}
   40% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeInRain {
   0% {opacity: 0;
      transform: translateY(-1200px)}
   100% {opacity: 1}
}

@keyframes fadeInLink {
   0% {opacity: 0;
      transform: translateX(500px)}
   30% {opacity: 0}
   100% {opacity: 1}
}

@keyframes navLock {
   0% {};
   100% {transform: translateX(-1rem) scale(1.1);}
}