.modal[value="true"] {
  position: absolute;
  width: 66%;
  height: 66%;
  transform: scale(1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15),
    0 10px 12px rgba(0, 0, 0, 0.15), 0 14px 16px rgba(0, 0, 0, 0.15),
    0 18px 32px rgba(0, 0, 0, 0.15), 0 32px 64px rgba(0, 0, 0, 0.15);
  animation: grow 1s ease-in-out forwards;
  opacity: 1;
}
.modal[value="true"]::before {
  content: "x";
  position: absolute;
  color: rgba(170, 0, 0, 0.8);
  font-size: 1.5rem;
  top: 1.5rem;
  left: 1.5rem;
}
.modal {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.6);
  outline: 2px solid rgba(0, 121, 140, 0.9);
  border-radius: 1rem;
  bottom: 5rem;
  left: 25%;
  top: 25%;
  transform: translate(-25%, -25%);
  width: 66vw;
  height: 66vh;
  .logError {
    width: 66%;
    margin: auto;
    text-align: center;
  }
  .loginForm {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
    input {
      margin: 0.5rem auto 1.5rem;
      padding: 0.33rem;
      box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);
    }
    label {
      color: rgba(0, 121, 140, 0.9);
      font-size: 0.88rem;
      margin-left: -1rem;
    }
    .submitBtn {
      align-self: flex-end;
      padding: 0.33rem 0.66rem;
      border-radius: 5px;
      background: none;
      border: 3px solid rgba(0, 121, 140, 0.8);
      font-size: 0.88rem;
      margin: 1rem -1rem 0rem auto;
    }
    .submitBtn:hover {
      background: transparent;
      outline: 2px solid rgba(0, 0, 0, 0.8);
      transform: scale(1.03);
      box-shadow: 0px 0.66rem 2rem rgba(0, 0, 0, 0.3);
    }
  }

  .modalExitBtn {
    justify-self: flex-start;
    margin: 0;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .modalExitBtn:hover {
    color: rgba(170, 0, 0, 0.8);
    cursor: pointer;
  }
}
.modal[value="false"] {
  position: absolute;
  transform: scale(0);
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
