@use "./styles/components/Loading.scss";
@use "./styles/components/StatusBar.scss";
@use "./styles/components/Header.scss";
@use "./styles/components/Keyboard.scss";
@use "./styles/components//Menu.scss";
@use "./styles/components//Footer.scss";
@import "./styles/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// global
$font-main: "Syne Mono", monospace;
$bg: rgba(15, 15, 15, 0.6);
$correct: #4caf50;
$space: #ffb74d;
$btn: #388e3c;

button:hover {
  cursor: pointer;
  background-color: rgba(15, 15, 15, 0.3);
  color: white;
}

.App {
  min-height: 100vh;
  box-sizing: border-box;
  filter: saturate(2);
  background-color: $bg;
}
.game-title {
  color: rgba(230, 230, 230, 0.7);
  text-align: right;
  margin-right: 3rem;
}
.board-box {
  width: 66vw;
}
.play-field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
