#projectMainBox {
   
   
}
.projectBox {
   display: flex;
   flex-flow: column wrap;
   justify-content: flex-start;
   align-items: center;;
   overflow: auto;
   font-size: 16px;
   line-height: 1.6;
   margin: 0 2rem;
   padding: 2rem 0;
   .underSlide {
      width: 100%;
      background-color: rgba(12, 12, 12, 0);
      color: white;
      text-align: center;
      position: relative;
      padding: 0;
      margin: 0;
      animation: slideDown 1.66s ease-in-out forwards;
      display: block;
   }
   .underSlide > p {
      padding: 1rem;
   }
   .underSlide p > img {
      width: 66%;
      margin-bottom: -1rem;
   }
}

.projecth4 {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   
}
#projectOneBox {

}

#projectTwoBox {
   color: white;
}

#projectThreeBox {
   color: white;
}

#projectFourBox {
   color: white;
}

#projectFiveBox {
   color: white;
}
.floatLeft {
   display: block;
   position: relative;
   float: left;
}
.floatRight {
   display: block;
   position: relative;
   float: right;
}

@keyframes slideDown {
   0% {
      transform: translateY(-33%);
      opacity: -.1;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}