#projectMainBox {
   
   
}
.projectBox {
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: center;;
   overflow: auto;
   font-size: 1rem;
   line-height: 1.4;
   padding: 2rem;
   font-size: .85rem;
   width: 100%;
   z-index: -3;
      background-color: rgba(12, 12, 12, 0);
      animation: fadeInBody 5s forwards;
}

.projecth4 {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   
}
#projectOneBox {

}

#projectTwoBox {
   color: white;
}

#projectThreeBox {
   color: white;
}

#projectFourBox {
   color: white;
}

#projectFiveBox {
   color: white;
}
.floatLeft {
   display: block;
   position: relative;
   float: left;
}
.floatRight {
   display: block;
   position: relative;
   float: right;
}

@keyframes slideDown {
   0% {
      transform: translateY(-33%);
      opacity: -.1;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}