// @font-face {
//   src: url("./assets/fonts/Epilogue[wght].woff2");
//   font-family: "Epilogue";
// }

// @font-face {
//   src: url("./assets/fonts/Trispace[wdth,wght].woff2");
//   font-family: "Trispace";
// }

$epilogue: "Epilogue";
$trispace: "Trispace";
span {
  pointer-events: none;
}

nav {
  position: absolute;
  z-index: 6;
  right: 5rem;
  top: 2rem;
  font-weight: 100;
  font-family: $trispace;
  border: none;

  .navLinkUnlocked {
    background: transparent;
    border: none;
    transition: all 2s;
    text-decoration: none;
    color: rgba(15, 15, 15, 0.9);
    font-size: 0.8rem;
    .curly {
      color: rgb(170, 0, 0);
    }
  }
  .navLinkUnlocked:hover {
    border: none;
    transform: scale(1.15);
    transition: all 1s;
    border-radius: 17%;
    cursor: pointer;
    .curly {
      text-decoration: line-through;
      color: rgba(0, 121, 140, 0.8);
    }
  }
  .navLinkUnlocked:hover::after {
    content: "";
    width: 2px;
    height: 2px;
    transition: all 3s;
    transform: translateX(2rem);
  }
  .navLinkLocked {
    margin: 0 1rem;
    background: transparent;
    border: none;
    transform: scale(1.25) translateY(0.66rem);
    text-decoration: none;
    color: rgba(220, 220, 220, 1);
    font-size: 1rem;
    font-weight: bolder;
    transition: all 2s;
    pointer-events: none;
    animation: navLock 2s forwards;
    .curly {
      color: rgba(0, 121, 140, 0.8);
      text-decoration: line-through;
    }
  }
}

@keyframes fadeInSynthetic {
  0% {
    opacity: 0;
    transform: translateY(1200px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRain {
  0% {
    opacity: 0;
    transform: translateY(-1200px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navLock {
  0% {
    box-shadow: none;
  }
  100% {
    z-index: 10;
  }
}

@keyframes shimmer {
}
