@font-face {
  src: url("./assets/fonts/Trispace[wdth,wght].woff2");
  font-family: "Trispace";
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}


/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

:root {
  font-size: 18px;
  height: 100%;
  transition: all 2s;
  font-family: 'Trispace';
}
body {
  height: auto;
  margin: 0;
}



#bodyBox::before {
  content: "";
  height: 98vh;
  width: 98vw;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15),
    0 10px 12px rgba(0, 0, 0, 0.15), 0 14px 16px rgba(0, 0, 0, 0.15),
    0 18px 32px rgba(0, 0, 0, 0.15), 0 32px 64px rgba(0, 0, 0, 0.15);
  border-radius: 1.66rem;
  position: absolute;
  margin-top: -.33rem;
   z-index: -2;
}

#bodyBox {
   position: fixed;
   width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-name: fadeInBody;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  font-family: "Trispace";
  font-weight: 300;
  
   
  #leftBox {
    height: 97vh;
    width: 12%;
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(0, 5, 5, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15),
      0 10px 12px rgba(0, 0, 0, 0.15), 0 14px 16px rgba(0, 0, 0, 0.15),
      0 18px 32px rgba(0, 0, 0, 0.15);
    border-radius: 1.33rem 0 0 1.33rem;
    border-left: 0.33rem solid rgba(0, 121, 140, .7);
    #buttonBox {
       align-self: center;
       display: flex;
       flex-flow: column wrap;
       justify-content: space-evenly;
       height: 66%;
       width: 80%;
       margin: 8rem 0 0 .33rem;
    }
  }
  #rightBox {
    color: white;
    z-index: 5;
    height: 97vh;
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(12, 12, 12, 0.93);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15), inset 0 8px 10px rgba(0, 0, 0, 0.15),
      inset 0 10px 12px rgba(0, 0, 0, 0.15), inset 0 14px 16px rgba(0, 0, 0, 0.15),
      inset 0 18px 32px rgba(0, 0, 0, 0.15);
    border-radius: 0 1.33rem 1.33rem 0;
    .displayBox {
       z-index: -1;
      display: flex;
      justify-content: center;
      color: white;
      width: 80%;
      height: 88%;
      margin-top: 2rem;
      border-radius: 0 0.66rem 0.66rem 0;
      box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2),
        inset 0 8px 10px rgba(0, 0, 0, 0.5),
        inset 0 10px 12px rgba(0, 0, 0, 0.2),
        inset 0 14px 16px rgba(0, 0, 0, 0.5),
        inset 0 18px 32px rgba(0, 0, 0, 0.2),
        inset 0 32px 64px rgba(0, 0, 0, 0.4);
    }
   //  #utilityBox {
   //     display: flex;
   //     flex-flow: row wrap;
   //     justify-content: center;
   //     width: 11%;
   //     height: 33%;
   //     margin: 3rem -1rem 3rem .66rem;
   //     button {
   //        width: .07rem;
   //        font-size: .66rem;
   //        display: flex;
   //        justify-content: center;
   //        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15),
   //    0 10px 12px rgba(0, 0, 0, 0.15), 0 14px 16px rgba(0, 0, 0, 0.15),
   //    0 18px 32px rgba(0, 0, 0, 0.15)
   //     }
   //     .buttonTextVert {
   //        writing-mode: vertical-rl;
   //     }
   //  }
   //  .utilityBtn:hover {
   //    color:rgba(0, 121, 140, .7);
   //    transform: scale(1.03);
   //    transform: translateZ(30px);
   //    border-top: 5px solid rgba(170,0,0,.8)
   //  }
  }
}
#bodyBox::after {
   content: "";
   height: 100vh;
   width: 100vw;
   background-color: rgba(0,0,0,.86);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15),
     0 10px 12px rgba(0, 0, 0, 0.15), 0 14px 16px rgba(0, 0, 0, 0.15),
     0 18px 32px rgba(0, 0, 0, 0.15), 0 32px 64px rgba(0, 0, 0, 0.15);
   border-radius: 0rem;
   position: absolute;
   margin-top: -.66rem;
   z-index: -3;
 }

.icons {
  pointer-events: none;
}

@keyframes fadeInBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headerOneFlight {
  0% {
    transform: translateX(200rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@media screen and (max-width: 769px) {
  :root {
    font-size: 15px;
  }

}
@media screen and (max-width: 650px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 426px) {
   :root {
      font-size: 11px;
   }
   #truthBox > button {
      color: white
   }
}
