// @font-face {
//   src: url("./assets/fonts/Epilogue[wght].woff2");
//   font-family: "Epilogue";
// }

// @font-face {
//   src: url("./assets/fonts/Trispace[wdth,wght].woff2");
//   font-family: "Trispace";
// }

$epilogue: "Epilogue";
$trispace: "Trispace";

span {
  pointer-events: none;
}
.collapsed {
  transform: translateY(-85%);
  background: rgba(0, 136, 155, 0.8);
  outline: 1px solid black;
}
.collapsed > svg {
  transform: rotateZ(180deg);
  filter: drop-shadow(0px -5px 1px rgba(0, 0, 0, 0.2));
}
nav > svg:hover {
  animation: bounce 0.5s ease-in-out infinite;
}
nav:hover {
  cursor: grab;
}
nav {
  transition: all 0.3s;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  z-index: 5;
  font-family: $trispace;
  padding: 0.66rem 1rem 1.33rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 0.33rem 0.33rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1),
    0 7px 20px rgba(0, 0, 0, 0.1), 0 10px 24px rgba(0, 0, 0, 0.1),
    0 14px 32px rgba(0, 0, 0, 0.1), 0 18px 64px rgba(0, 0, 0, 0.1);
  .navLinkUnlocked {
    background: transparent;
    border: none;
    transition: all 0.5s;
    text-decoration: none;
    color: rgba(15, 15, 15, 0.9);
    font-size: 1.22rem;
    margin: 0.2rem 0.66rem;
    .curly {
      color: rgb(170, 0, 0);
    }
  }
  .navLinkUnlocked:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    cursor: pointer;
    .curly {
      text-decoration: line-through;
      color: rgba(0, 121, 140, 0.8);
    }
  }

  .navLinkLocked {
    background: transparent;
    border: none;
    transform: scale(1.3);
    transition: all 1s;
    text-decoration: none;
    color: rgba(170, 0, 0, 0.7);
    font-size: 1rem;
    pointer-events: none;
    .curly {
      color: rgba(0, 121, 140, 0.8);
      text-decoration: line-through;
    }
  }
  .navCollapseBtn {
    position: absolute;
    bottom: -1rem;
    opacity: 0.7;
  }
  .navCollapseBtn:hover {
    cursor: pointer;
    color: rgba(170, 0, 0, 1);
  }
}

@keyframes fadeInSynthetic {
  0% {
    opacity: 0;
    transform: translateY(1200px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRain {
  0% {
    opacity: 0;
    transform: translateY(-1200px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    bottom: -1rem;
  }

  40% {
    bottom: -1.3rem;
  }

  100% {
    bottom: -1rem;
  }
}
